<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script src='/socket.io/socket.io.js' defer></script>
    <script src='script.js' defer></script>
    <title>Video-Room</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            background-color: black;
        }
        #video-grid video{
            height: 400px;
            width: 400px;
        }
        #video-grid {
            flex: 200%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #transcript {
            height: 100vh;
            width: 100%;
            background-color: #242324;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #transcript h1 {
            color: white;
            font-weight: lighter;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #transcript #pop {
            height: 250px;
            width: 250px;
            margin-top: 25%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url('0.png');
            background-size: cover;
        }
        #full {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
    <section id="full">
        <div id="video-grid">

        </div>

        <div id="transcript">
            <button class="talk">TALK</button>
            <h1 class="content"></h1>
            <button class="convert">COVERT TO SIGN LANGUAGE</button>
            <div id="pop">
                <span class="material-icons">
                    clear
                </span>
                <div id="next-prev">
                    <span id='before' class="material-icons">
                        navigate_before
                    </span>
                    <span id='after' class="material-icons">
                        navigate_next
                    </span>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>